<h2 mat-dialog-title>{{ data.id === 0 ? 'Add' : 'Edit' }} Employee</h2>
    <form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
          <span *ngIf="form.get('name')?.errors?.['required']">Name is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Position</mat-label>
        <input matInput formControlName="position" />
        <mat-error *ngIf="form.get('position')?.invalid && form.get('position')?.touched">
          <span *ngIf="form.get('position')?.errors?.['required']">Position is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Salary</mat-label>
        <input matInput type="number" formControlName="salary">
        <mat-error *ngIf="form.get('salary')?.invalid && form.get('salary')?.touched">
          <span *ngIf="form.get('salary')?.errors?.['required']">Salary is required</span>
          <span *ngIf="form.get('salary')?.errors?.['minlength']">Salary must be greater than 0</span>
        </mat-error>
      </mat-form-field>
      <mat-dialog-actions align="end">
        <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
      </mat-dialog-actions>
    </form>